.x-large-bold{
  font-size: 16px;
  font-weight: bold;
}
.large-text {
  font-size: larger;
}
.regular-padding{
  padding: 5px;
}
.regular-vertical-padding{
  padding: 5px 0;
}
.bright-blue-text{
  color: #56B8D3;
}
.small-bold{
  font-size: 12px;
  font-weight: bold;
}
.small{
  font-size: 12px;
}
.small-thin{
  font-size: 12px;
  font-weight: lighter;
}
.flex-row{
  display: flex;
}
.title-1{
  font-weight: bold;
  font-size: larger;
  padding-bottom: 10px;
}
.title-2{
  //font-weight: bold;
  font-size: large;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 3px solid #2e92fa;
}
.retract-text {
  padding-left: 10px;
}
.step-bar{
  width: 60vw;
  min-width: 850px;
  margin-bottom: 15px;

  //margin-right: 50px;
  //width: 200px;
  //height: 500px;
  //min-height: 300px;
  //margin: auto;
  //widows: ;
}
.big-card{
  max-height: calc(100vh - 220px);
  overflow-y: scroll;
  .el-card__body{
    width: 100%;
  }
}
.big-card::-webkit-scrollbar {
  display: none;
}


